

.header {
    background-color: #3498db;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .header-title {
    cursor: pointer;
    transition: opacity 0.3s ease;
    margin: 0; padding: 0;
  }
  
  .header-title:hover {
    opacity: 0.8;
  }
  
  .btn-add:hover {
    background-color: #27ae60;
  }